@model EmployeeView
@{
    ViewBag.Title = "Список сотрудников";
}

<table class="table">

    <tr>
        <td align="center">ID: </td>
        <td align="center">@Model.Id.ToString()</td>
    </tr>
    <tr>
        <td align="center">Ф.И.О. </td>
        <td align="center">
            @Model.FirstName
            @Model.LastName
            @Model.Patronymic
        </td>
    </tr>
    <tr>
        <td align="center">Возраст: </td>
        <td align="center">@Model.Age</td>
    </tr>
    <tr>
        <td align="center">День рождения: </td>
        <td align="center">@Model.Birthday.ToShortDateString()</td>
    </tr>
    <tr>
        <td align="center">Устроился на работу: </td>
        <td align="center">@Model.StartWorking.ToShortDateString()</td>
    </tr>
    <tr>
        @Html.ActionLink("Назад", "Index")
    </tr>


</table>