@model IEnumerable<EmployeeView>
@{
    ViewBag.Title = "Employee List";
}

<hr />
<a asp-action="Edit" class="btn btn-success">Добавить</a>

<hr />

<table class="table" >
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
            <td align="center">@item.FirstName</td>
            <td align="center">@item.LastName</td>
            <td align="center">@item.Patronymic</td>
            <td align="center">@item.Age</td>
            <td><a asp-action="Details" asp-route-id="@item.Id">Детали</a></td>
            <td><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-cut"></i></a></td>
        </tr>
    }
</table>





